body { 
    font-family: Times New Roman ;
}
.jumbotron {
    padding-top: 6rem;
    background-color: #D3D3D3;
}
#jam {
   color: #000000;
}
#contact {
   background-color: #D3D3D3;
}
section{
	padding-top: 5rem;
}